# Ignore Python bytecode files
*.pyc

# Ignore environment variables file
.env

# Ignore virtual environment directory
venv/

# Ignore IDE or editor specific files
.vscode/
.idea/

# Ignore logs
*.log